<html>
    <head>
        <title></title>
    </head>
    <body>
        <h1>Opt out one option </h1>

        <div>
            <h3>Question ...............................</h3>
        </div>
        <div class="options">
            <label for="options" class="label" name="label"> option1</label>
            <input type="radio" name= "radio" class="radio" >
            <hr>
            <p>Add option </p>
            <input type="text" class="textbox" name = "textbox">
        </div>
        
    </body>
</html>