<!DOCTYPE html>
<html lang="en">
<head>
  <title>Registration</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/public/css/registration.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="application/json" src="/public/js/validations.js"> </script>
  <script src="/jquery/jquery.js"></script>

</head>
<body>
 <% include template/header.ejs%>

  <div class="absolute">  
      <% if(locals.message){ %>
        <div class="alert alert-success" role="alert">
            <strong>Request unsucessful</strong> <%=message.success%>
        </div>
      <% } %>
    <p class="sign">Forgot password?</p>
    <form autocomplete="off" id="forgotForm" action="/api/forgot" method="POST">
     <div class="form-group">
            <input type="email" id="email" class="form-control input-lg" placeholder="Email" name="email" required>
     </div>    
     <p class="sign">Get Password change link on your registered mail?</p>
     <div  class="input-group-btn">
       <button class="btn btn-info btn-block" id="btn" type='submit' >Forgot Password</button>
     </div>       
   </form>   
</div>
</body>
</html>