<!DOCTYPE html>
<html lang="en">
<head>
  <title>Registration</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/public/css/registration.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script  src="/js/validations.js"> </script>
</head>
<body>
 <% include template/header.ejs%>
  <div class="absolute">   
    <p class="sign">Register for your account</p>
    <form id="signupForm" action="/registration" method="POST">
     <div class="form-group">
       <input type="text" id="name" class="form-control input-lg" placeholder="Name" name="name" required>      
     </div>    
     <div class="form-group" >
       <input type="email" id="email" class="form-control input-lg" placeholder="Email" name="email" required>
     </div>
     <div class="form-group">
       <input type="password" id="password" minlength="5" class="form-control input-lg" placeholder="Password" name="password" required>
     </div>
     <div  class="input-group-btn">
       <button class="btn btn-info btn-block" id="btn" type='submit' >Register email</button>
     </div>       
   </form>   
   <div>
    <p class="last"> Already have an account? <a class="last" href="/login"> login</a></p>
  </div>
</div>
</body>
</html>