<html>
    <head>
        <title></title>

        <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script  src="/js/validations.js"> </script>
    </head>
    <body>
            <div class="absolute">   
        <h5 class="h2">verified your mail sucessfully , 
            click <a class="last" href="/api/login"> here</a> 
            to go to login page</h5>
            </div>
    </body>
</html>
<style>
.absolute{
height: 200px;
width: 400px;
margin: 0 auto;
}
</style>