<html>
    <head>
        <title></title>

        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
    <body>
            <div class="absolute">   
        <h5 class="h2">verified your mail sucessfully , 
            click <a class="last" href="/api/login"> here</a> 
            to go to login page</h5>
            </div>
    </body>
</html>
<style>
.absolute{
height: 200px;
width: 400px;
margin: 0 auto;
}
</style>