
<form action="/api/logout" method="POST" >
<div >
    <h1 style="text-align:center;">Welcome</h1> 
    <button id="logOutBtn" type='submit' class="pull-right" >LogOut</button>     
 </div>
</form>

<style>
    .btn{
  
    }

</style>